[Unit]
Description=GitHub webhooks listener
After=network.target

[Service]
# This has to be your actual user name
User=ubuntu

Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/hook-server
Restart=always

ExecStart=/bin/sh -c "/opt/hook-server/build/app.js"
[Install]
WantedBy=multi-user.target
