[Unit]
Description=GitHub webhooks listener
After=network.target

[Service]
User=ubuntu # This has to be your actual user name

Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/hook-server
Restart=always

ExecStart=/bin/sh -c "/opt/hook-server/build/app.js"
[Install]
WantedBy=multi-user.target
